body{font-size: 16px;
font-weight: 500;}
.header-image{
  background-image: url(/img/pattern.png);
  object-fit: fill;
  background-color: rgb(78, 161, 255);
  background-size: cover;
  text-align: bottom;
  font-weight: bold;
  color: white;
  height: 80px; 
}
Span{text-decoration-color: yellow;}
.title{text-align: justify;
}
.subtitle{font-size: 1.2rem; 
font-weight: bold;
 
}
p.subtitle{color: rgb(144, 144, 144);}
{color:rgb(221, 255, 255);}

.subtitle  span{color: rgb(221, 255, 255);}

.Section-1 p{text-align: Left; font-size: 0.8rem;
object-fit: fill}

.boxlist{}

.list{text-align: left;}

.boxtable